<!doctype html>
<html lang="en" xmlns:th class="fullscreen-bg">

<head>
    <title>Login | OP-PUCMM</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
            <div class="auth-box ">
                <div class="left">
                    <div class="content">
                        <div class="header">
                            <div class="logo text-center"><img src="assets/img/icons8-admin-settings-male-50.png"
                                                               alt="Klorofil Logo"></div>
                            <p class="lead">Sign Up</p>
                        </div>
                        <form method="post" class="form-auth-small" action="/userRegister" id="form">
                            <div class="form-group">
                                <input type="text" class="form-control" name="fullName" id="firstName"placeholder="Full Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <select name="role" id="role" placeholder="role" class="form-control" aria-required="true" required>
                                    <option value="">Role</option>
                                    <option name="role" value="Administrador">Administrador</option>
                                    <option name="role" value="Empleado">Empleado</option>
                                    <option name="role" value="Voluntario">Voluntario</option>
                                </select>
                            </div>
                            <div class="form-group clearfix">
                                <label class="fancy-checkbox element-left">
                                    <input type="checkbox">
                                    <span>Remember me</span>
                                </label>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <h6 DIV ALIGN=center th:text="${Error}" style="color:#ff0000"></h6>
                                <h6 DIV ALIGN=center th:text="${Success}" style="color:#00A0F0"></h6>

                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">CREATE ACCOUNT</button>
                            <p></p>
                            <!-- START LOGIN ENTERING -->
                            <div class="panel panel-headline">
                                <div class="panel-heading">
                                    <span>Already have an account?&nbsp;</span>
                                    <a class="btn btn-sm btn-alt" href="page-login.html">Log in</a>
                                </div>
                            </div>
                            <!-- END LOGIN ENTERING -->
                        </form>
                    </div>
                </div>
                <div class="right">
                    <div class="overlay"></div>
                    <div class="content text">
                        <h1 class="heading">OFICINA DE PLANEAMIENTO</h1>
                        <p>PUCMM</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<script>
</script>
<!-- END WRAPPER -->
</body>
</html>
